body {
    margin: 0;
  }
  
  /* Assuming the name of the PreviewPublisher's container is previewContainer */
  #previewContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    border-color: black;
    border-radius: 5px;
    border-style: dashed;
    width: 640px;
    height: 480px;
    padding: 20px;
  }
  
  /* Assuming the name of the Room's container is roomContainer */
  #roomContainer {
    width: 100vw;
    height: calc(100vh - 90px);
    background-color: #ddd;
    position: relative;
  }
  #roomContainer > .OT_publisher {
    top: 25px;
    right: 25px;
    position: absolute;
    border-radius: 10px;
  }
  #roomContainer > .OT_screenshare {
    top: 25px;
    left: 25px;
    position: absolute;
    border-radius: 10px;
  }